@model IEnumerable<EDNEVENTOS.Models.Eventos>
@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/sweetalert.css">
<script src="~/js/sweetalert.min.js"></script>
<script type="text/javascript">
    function finalizar(idEvento) {
        console.log(idEvento);
        $.ajax({
            type: "POST",
            //datatype: 'json',
            url: 'Eventos/FinalizarEvento/',
            //contentType: "application/json",
            data: "IdEvento="+idEvento, //JSON.stringify({ IdEvento: idEvento }),
            success: function (data) {
                swal({ title: "Evento finalizado com sucesso!", type: "success", confirmButtonColor: "#DD6B55", confirmButtonText: "OK", });
                if (data.codigo == 0) {
                    $("#div-event-" + idEvento).remove();
                }
            }
        });
    }
</script>

@foreach (var item in Model)
{
    @if (item.Status == true)
    {
        <div id="div-event-@item.IdEvento" class="demo-card-wide mdl-card mdl-shadow--2dp cardfesta" style="background-image:url(../Images/@item.ImagemProduto)">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    @if (item.DataEvento == DateTime.Today)
                    {
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                        {
                            <div style="color:forestgreen;"><b>(HOJE!)</b></div>
                        }
                    }
                    else if (item.DataEvento < DateTime.Today)
                    {
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                        {
                            <div style="color:darkred;"><b>(PASSOU!)</b></div>
                        }
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NomeEvento)

                    }
                </h2>
            </div>
            <div class="mdl-card__supporting-text">
                <b>Local:</b>@Html.DisplayFor(modelItem => item.LocalEvento)
                <br>
                <b>Data:</b> @Html.DisplayFor(modelItem => item.DataEvento) <br />
                <b>Valor: R$ @Html.DisplayFor(modelItem => item.ValorEvento)</b>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="http://eventosedn.azurewebsites.net/Home/Details/@item.IdEvento" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="eventobtn1">
                    <i class="material-icons">public</i>
                </a>
                <a asp-controller="Eventos" asp-action="MenuEventos" asp-route-id="@item.IdEvento" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="eventobtn1">
                    <i class="material-icons">visibility</i>
                </a>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="mdl-card__menu">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button"
                                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="background:rgba(184, 60, 47, 0.75);color:black" onclick="finalizar(@item.IdEvento)">
                            <b>Finalizar</b>
                        </button>
                    </div>
                </div>
            }
        </div>
    }
}