@model EDNEVENTOS.Models.Eventos

@{
    ViewData["Title"] = "Detalhes do Evento";
}


<div class="detalhe-produto">
    <div class="lado-esquerdo">
        <b>@Html.DisplayFor(model => model.NomeEvento)</b>
        <figure><img src="~/images/@Html.DisplayFor(model => model.ImagemProduto)" class="produto-avatar"></figure>
    </div>
    <div class="lado-direito">
        <b>Valor do evento:</b> R$ @Html.DisplayFor(model => model.ValorEvento)<br>
        <b>Cidade:</b>@Html.DisplayFor(model => model.CidadeEvento)<br>
        <b>Local:</b>@Html.DisplayFor(model => model.LocalEvento) , @Html.DisplayFor(model => model.NumeroLocalEvento) <br>
        <b>Bairro:</b>@Html.DisplayFor(model => model.BairroEvento)<br>
        <b>Data/Hora:</b> @Html.DisplayFor(model => model.DataEvento)<br>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdEvento" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
</div>
   
    @*<p>
      
    </p>*@
