@model IEnumerable<EDNEVENTOS.Models.Eventos>

@{
    ViewData["Title"] = "Eventos";
}

@if (ViewBag.Message == "Sucesso")
{
    <p class="ok-login-msg">Evento cadastrado com sucesso!</p>
}
@if (ViewBag.Message == "Erro")
{
    <p class="erro-login-msg">Erro ao cadastrar evento</p>

}
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background:#B83C2F; right:-457px"><i class="material-icons" style="color:aliceblue">add</i></a>
    </p>
}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp tabela-produtos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LocalEvento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CidadeEvento)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>*@
  
        @*<th>
                @Html.DisplayNameFor(model => model.ImagemProduto)
            </th>*@


        <th>
            @Html.DisplayNameFor(model => model.NumeroLocalEvento)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.ValorEvento)
        </th>

       
        <th></th>
    </tr>

   
    @foreach (var item in Model)
    {
        if (item.Status == false)
        {
        <tr  style="color:darkred">
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalEvento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CidadeEvento)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DataEvento)
                </td>*@
    
            @*<td>
                    @Html.DisplayFor(modelItem => item.ImagemProduto)
                </td>*@


            <td>
                @Html.DisplayFor(modelItem => item.NumeroLocalEvento)
            </td>
       
            <td style="color:darkred">
               R$ @Html.DisplayFor(modelItem => item.ValorEvento)
            </td>
          
            <td>
                <B>FINALIZADO</B>
            </td>
        </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalEvento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CidadeEvento)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DataEvento)
                    </td>*@

                @*<td>
                        @Html.DisplayFor(modelItem => item.ImagemProduto)
                    </td>*@


                <td>
                    @Html.DisplayFor(modelItem => item.NumeroLocalEvento)
                </td>

                <td style="color:green">
                    R$ @Html.DisplayFor(modelItem => item.ValorEvento)
                </td>

                <td>
                    @if (User.IsInRole("Admin")) { 
                    <a asp-action="Edit" asp-route-id="@item.IdEvento" ><i class="material-icons">mode_edit</i></a> 
                    }
                    <a asp-action="Details" asp-route-id="@item.IdEvento"><i class="material-icons">toc</i></a> 
                    <a asp-action="Maps" asp-route-id="@item.IdEvento"><i class="material-icons">place</i></a>
                </td>
            </tr>
        }
        
    }
</table>
<br />
