@model IEnumerable<EDNEVENTOS.Models.Eventos>

@{
    ViewData["Title"] = "Eventos";
}


<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp tabela-produtos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LocalEvento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CidadeEvento)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EstadoEvento)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ImagemProduto)
            </th>*@


        <th>
            @Html.DisplayNameFor(model => model.NumeroLocalEvento)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.ValorEvento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalEvento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CidadeEvento)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DataEvento)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EstadoEvento)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ImagemProduto)
                </td>*@


            <td>
                @Html.DisplayFor(modelItem => item.NumeroLocalEvento)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.ValorEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEvento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEvento">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEvento">Excluir</a>
            </td>
        </tr>
    }
</table>
<br />
<p>
    <a asp-action="Create" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background:#B83C2F; right:-513px"><i class="material-icons" style="color:aliceblue">add</i></a>
</p>

