@model EDNEVENTOS.Models.Produtos

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaProduto)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.ImagemProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagemProduto)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
