@model EDNEVENTOS.Models.Produtos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaProduto)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.ImagemProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagemProduto)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.IdProduto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
