@model IEnumerable<EDNEVENTOS.Models.ProdutoEmEvento>

@{
    ViewData["Title"] = "Relatorio Produtos";
    decimal valll = 0;
    @foreach (var item in Model)
    {
        valll += item.Produto.ValorProduto;
    }
}


<div style="padding:0px 942px 0px 0px">
    <a asp-controller="Eventos" asp-route-id=@ViewBag.idEvento asp-action="MenuEventos"><i class="material-icons">keyboard_backspace</i></a>
</div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp tabela-produtos">
    <tr>
        <th>
            Nome do Evento
        </th>
        <th>
            Relatorio
        </th>

        <th>
            Categoria
        </th>
        <th>
            Valor do Produto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eventos.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.CategoriaProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td style="color:green">
                R$ @Html.DisplayFor(modelItem => item.Produto.ValorProduto)
            </td>
        </tr>
       
    }
    <tr>
        <td style="color:green;font-size:20px">
            <b>TOTAL: R$ @valll</b>
        </td>
    </tr>
</table>
